body {
  font-family: "Playfair", serif;
  margin: 0;
  padding: 0;
  background-color: #f2ecee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2ecee;
  padding: 10px 5px;
  margin: 10px;
  padding-left: 0;
  margin-left: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #e5e5e5;
  height: 40px;
  text-decoration-color: #484e51;
  text-size-adjust: 30%;
  border-color: #f2ecee;
}

header .logo {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

header .logo img {
  height: 80px;
  width: 70px;
  margin-top: 10px;
  transition: transform 0.3s ease;
}
.liensitelogo:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

header .logo .brand-name {
  font-size: 16px;
  color: #7e7b7b;
  font-family: "Playfair", serif;
  margin-bottom: 10px;
}
.brand-name a {
  text-decoration: none;
  color: #7e7b7b;
}
.brand-name:hover {
  cursor: pointer;
}

header nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

header nav ul:hover {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #595e60;
  font-size: 18px;
  font-family: "Playfair", serif;
  transition: border-width 0.3s ease, padding 0.3s ease;
}

header nav ul li a:hover {
  border: black;
  background-color: #b09394;;
  padding: 5px;
  border-radius: 30px;
}

header nav ul li {
  padding-top: 8px;
  text-decoration: none;
  color: #484e51;
  font-family: "Playfair", serif;
}

header nav ul li:nth-child(4) {
  background-color: #b09394;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  padding-right: 15px;
  border-radius: 40px;
}
.contact-btn {
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
}

.icon {
  height: 20px;
  width: 20px;
  padding-right: 10px;
  color: #b09394;
  padding: 0 5px 0;
}

.langue{
  position: absolute;
  top: 58px;
  right: 40px;
  text-align: center;
}

.langue .a{
  text-decoration: none;
  color: #b09394;
}

.FR {
  display: inline;
}

.EN {
  display: none;
  position: relative;
  top: 10px;
}

.langue:hover .FR{
  display: inline;
}

.langue:hover .EN {
  display: inline;
}

.langue img{
  width: 35px;
  cursor: pointer;
}

.ligne1 {
  background-color: #f2ecee;
  width: 93%;
  margin-right: 10px;
  border-color: #f2ecee;
  margin-bottom: 20px;
}

.page {
  background-image: url('photos/fondconnexion.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;  /* Centre horizontalement */
  align-items: center;
}


.Connexion {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  margin: 20px auto; 
  width: 50%;
  height: 70vh; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff81;
}

.Connexion h1 {
  align-self: center;
  font-size: 30px;
}


.Connexion input {
  font-size: 20px;
  border-style:none;
  border-radius: 10px;
  background-color: #ffffff81;
  width: 35px; 
  height: 35px;
  box-shadow: -1px 2px 300px -77px rgba(0,0,0,0.75);
}





.Connexion button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.Connexion button[type="submit"] {
  background-color: #bee688;
}

.Connexion button[type="submit"]:hover {
  background-color: #9cd864;
}

.Connexion button[type="reset"] {
  background-color: #f3828e;
}

.Connexion button[type="reset"]:hover {
  background-color: #e45460;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 15px;
}

input[type="email"], 
input[type="password"] {
  width: calc(100% - 20px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacement entre les sections */
  width: 100%;
}














footer {
    background-color: #787373;
    display: flex;
    justify-content: center;
  }
  .footerGrid-container {
    background-color: #787373;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 200px;
    margin-top: 20px;
    padding: 0 20px;
    padding-right: 0;
    margin-right: 0;
  }
  
  .textFooter {
    width: 240px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .textFooter1 {
    justify-content: left;
    text-align: left;
  }
  .textFooter p {
    text-align: center;
    color: white;
    padding-top: 10px;
    width: 300px;
    margin: auto;
  }
  
  .textFooter img {
    height: 150px;
    width: 150px;
    padding: 10px;
  }
  
  .droit {
    background-color: #787373;
    text-align: center;
  }
  
  .droit p {
    font-family: "playball", serif;
    font-size: 17px;
    color: white;
    margin: 0;
  }
  
  .imgReseaux {
    width: 25px;
    height: 25px;
  }
  .reseaux {
    margin: 20px;
    padding: 10px;
  }
  .social-icons a {
    color: white;
  }
  .lienFooter {
    color: white;
    text-decoration: none;
  }

  .ligne1 {
    background-color: #f2ecee;
    width: 93%;
    margin-right: 10px;
    border-color: #f2ecee;
    margin-bottom: 20px;
  }
